import { defineConfig } from 'vite';
import { resolve } from 'path';
import { nodeResolve } from '@rollup/plugin-node-resolve';

export default defineConfig({
  root: resolve(__dirname, './'),
  publicDir: resolve(__dirname, './assets'),
  plugins: [
    nodeResolve({
      browser: true,
      dedupe: ['three'],
      extensions: ['.js']
    })
  ],
  build: {
    target: 'esnext',
    outDir: 'dist',
    emptyOutDir: true,
    rollupOptions: {
      input: {
        main: resolve(__dirname, 'index.html')
      }
    }
  },
  server: {
    port: 3000,
    strictPort: true
  }
});
